* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url(Minimalist\ Office\ Desk\ Setup.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button {
  background-color: rgb(255, 77, 77);
  color: white;
  border: 0px;
  font-weight: 700;
  border-radius: 20px;
  width: 160px;
  height: 55px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

table {
  border: 0px solid;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 15px -2px;
  -webkit-box-shadow-: 0px 2px 15px -2px;
  background: rgba(255, 255, 255, 0.59);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

th {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  padding-left: 20px;
  margin: 25px 50px 75px 100px;
}

td {
  text-align: center;
  font-size: 20px;
}
