* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url(Minimalist\ Office\ Desk\ Setup.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

table {
  -webkit-box-shadow: 0px 1px 20px 3px #000000;
  box-shadow: 0px 1px 17px -3px #000000;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(6.1px);
}

div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

th {
  font-size: 20px;
  padding: 10px;
}

td {
  font-size: 25px;
  padding: 20px;
  font-weight: 900;
}

button {
  background-color: rgb(255, 69, 69);
  color: white;
  font-size: 20px;
  font-family: serif;
  border-radius: 30px;
  margin: 10px;
  width: 200px;
  height: 50px;
  border-style: none;
}

button:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px -1px 19px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 10px 13px -7px #000000, 3px -1px 19px 1px rgba(0, 0, 0, 0.27);
}

button.btn {
  background-color: black;
}

button.btn:hover {
  background-color: rgb(255, 69, 69);
  color: white;
}
